.modal {
    display: block;
    position: fixed;
    left: 30%;
    top:30%;
    margin: auto;
    margin-top:60px;
    width:50%;
    height:30%;
    z-index:1;
    background-color: #f4f6ff;
  }
  
  .close{
      position: absolute;
      right:0px;
      top:0px;

  }
  .sbt-btn{

    z-index:1;
    color:black;
      width:auto;
    background-color: red;
  }